body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.wineList{
  background-color: rgb(255, 179, 179);
  padding: 20px;
  text-align: center;
}


.Grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  flex-direction: row;
  justify-content: space-evenly;
 
}

.Box {

  color: rgb(179, 41, 41);
  width: 20rem;
  text-align: center;
  height: 20rem;
  margin: 30px;
}
.Box1 {

  color: rgb(90, 175, 103);
  width: 20rem;
  text-align: center;
  height: 20rem;
  margin: 30px;
}

.Box3 {

  color: rgb(249, 115, 220);
  width: 20rem;
  text-align: center;
  height: 20rem;
  margin: 30px;
}
.info {
 
  top: 15rem;
  margin-bottom: 0;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;

}

.Bottle {
  position: relative;
  height: 80%;
  transition: transform .4s;

}
.Bottle:hover {
  position: relative;
  height: 80%;
  filter: brightness(80%);
  transform: scale(1.1)
  

}
.wine-list {
   position: relative;
  flex: 1 0 33.333333%;
  height: 100%;
  /* removed 3.6em padding to get rid of the buffer at the top */
  padding:  0 0;
  overflow-y: scroll;
  background-color: #f0f0f0;
}

.wine-row{
  display: grid;
  position: relative;
  grid-template-columns: 1fr 3fr;

  margin-bottom: 0.2rem;
  background-color: white;
}

.wine-summary {
  padding: 0.5em 1.5em;
  background-color: white;
}
/* 
/* .section-count {
  display: inline-block;
  background-color: white;
  color: black;
  text-align: center;
  padding: 0.25em 0.25em 0.25em 0.5em;
  border-radius: 20%;
  margin-left: 0.5em;
  font-weight: bold;
} */ */

.wine-details {
  position: relative;
  overflow-y: scroll;

}

/* Aligns detials dive and wine list div side by side */
.wine-library {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: stretch;
  justify-content: space-around;
}


.section-title{
  position: relative;
  top: 0;
  z-index: 10;
  background-color: #777;
  color: white;
  text-align: center;
  font-size: 0.75em;
  padding: 0.5em;
  margin: 0 0 0.1em;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.wine-detail {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  margin-bottom: 2em;
}
/* .wine-details > .section-title{
  left: 33.333333%;
  width: 66.666666%;
}

.wine-list > .section-title {
  width: 33.333333%;
  left: 0;
} */