body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;


}

* {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: 'none'
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wineList {
  background-color: rgb(255, 179, 179);
  padding: 20px;
  text-align: center;
}

.Grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 50px;
}

.Box {
  color: rgb(179, 41, 41);
  width: 20rem;
  text-align: center;
  height: 20rem;
  margin: 30px;
}

.Box1 {
  color: rgb(90, 175, 103);
  width: 20rem;
  text-align: center;
  height: 20rem;
  margin: 30px;
}

.Box3 {
  color: rgb(249, 115, 220);
  width: 20rem;
  text-align: center;
  height: 20rem;
  margin: 30px;
}

.info {
  top: 15rem;
  margin-bottom: 0;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}

.Bottle {
  position: relative;
  height: 80%;
  transition: transform .4s;
}

.Bottle:hover {
  position: relative;
  height: 80%;
  filter: brightness(80%);
  transform: scale(1.1)
}

.wine-list {
  position: relative;
  flex: 1 0 33.33333333333%;
  height: 100%;
  /* removed 3.6em padding to get rid of the buffer at the top */
  padding: 0 0;
  overflow-y: scroll;
  background-color: #f0f0f0;
}

.wine-row {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 0.2rem;
  background-color: white;
}

.wine-summary:hover {
  background-color: #f6f6f6;
}

.wine-summary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.9em;
  background-color: white;
}

/* 
/* .section-count {
  display: inline-block;
  background-color: white;
  color: black;
  text-align: center;
  padding: 0.25em 0.25em 0.25em 0.5em;
  border-radius: 20%;
  margin-left: 0.5em;
  font-weight: bold;
} */


/* Aligns detials dive and wine list div side by side */
.wine-library {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: stretch;
  justify-content: space-around;
}


.section-title {
  position: relative;
  top: 0;
  z-index: 10;
  background-color: rgb(255, 144, 144);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
  padding: 0.5em;
  margin: 10 0 0.1em;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  height: 60px;
}

.wine-detail {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  margin-bottom: 2em;
  width: 400px;
}

.filter {
  padding: 20px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
}

.filterby {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  color: rgb(107, 107, 107);
  display: flex;
  padding: 20px;
  align-items: center;
}

.filterby:hover {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  color: rgb(70, 70, 70);
  display: flex;
  padding: 20px;
}

label {
  color: #777;
  padding: 10px;
}

input {
  background-color: rgb(254, 254, 254);
  float: right;
  border: 1px solid grey;
}

.whiteBottle:hover {
  filter: brightness(80%);
}

.redBottle:hover {
  filter: brightness(80%);
}

.title {
  display: flex;
  align-items: center;
  color: rgb(68, 68, 68);
  text-decoration: underline;
  padding: 30px;
}

.wineBox {
  width: 220px;
  background-size: contain;
}

.wineImage {
  background-size: contain;
  max-width: 200px;
}

.wineBoxCenter {
  display: flex;
  justify-content: center;
  padding: 10px;
  max-width: 200px;
}

nav {
  background-color: rgb(223, 223, 223);
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 40px;
  font-size: 17px;
}

#footer {
  display: flex;
  justify-content: space-around;
  font-size: 9px;
  bottom: 0;
  width: 100%;
}

.form {
  margin-top: 40px;
  background-color: rgb(221, 221, 221);
  width: 37%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 30px;
}

.form1 {
  display: flex;
  justify-content: center;
}

.wineByMe {
  position: absolute;
  height: 80px
}

.price {
  padding: 2px;
  text-decoration: underline;
}

.wine-bottom {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.wine-info-row {
  text-align: center;
}

.tick-box {
  padding: 30px;
  display: flex;
  color: white;
  align-items: center;
  color: rgb(218, 25, 25);
}

/* WINE DETAILS */
.wine-detail-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wine-title-detail {
  text-decoration: underline;
}

.image-details {
  padding: 30px;
}

.description-wine {
  padding: 50px;
  font-size: 18px;
}

.overlay {
  text-align: center;
}

.wine-night {
  background-color: rgb(255, 217, 217);
  margin-left: 30%;
  margin-right: 30%;
  padding: 40px;
  min-width: 40%;
  border-bottom: #777 3px solid;
  border-right: #777 3px solid;
  color: rgb(53, 53, 53);
  transition: 5ms;
}

.wine-night:hover {
  background-color: rgb(255, 214, 214);
  margin-left: 30%;
  margin-right: 30%;
  padding: 40px;
  min-width: 40%;
  border-bottom: #777 4px solid;
  border-right: #777 4px solid;
}

.wine-night-full-div {
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 45px;

}

.fav-list-image {
  float: right;
}

.button-fav-wines-edit {
  margin-top: 20px;
  padding: 10px;
  border-top: none;
  border-left: none;
  border-right: rgb(53, 53, 53) 1px solid;
}

.button-fav-wines-edit:hover {
  background-color: rgb(228, 228, 228);
}

.button-fav-wines-delete {
  margin-top: 20px;
  padding: 10px;
  border-top: none;
  border-left: none;
}

.button-fav-wines-delete:hover {
  background-color: rgb(228, 228, 228);
}

.fav-wine-list-info {
  text-align: center;
  font-size: 1.2vw
}

.fav-list-description {
  font-size: 1.2vw;
}

.fav-list-event {
  font-size: 1.5vw;
}

.fav-list-name {
  font-size: 1.8vw;
}

.standin-image-detail {
  width: 66.33vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.standin-image {
  width: 50vw;
}

.full-nothing-selected {
  display: flex;
}

.fullish-nothing-selected {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.no-wine-selected {
  padding: 40px;
}

.add-to-list {
  display: flex;
  align-items: center;
  padding-top: 30px;
}

.add-to-list-button-div {
  padding-left: 20px;
}

.add-to-list-button {
  background-color: #777;
  color: white;
}

.add-to-list-button:hover {
  background-color: rgb(92, 92, 92);
  color: white;
}

.favouriteWines {
  color: rgb(81, 81, 81);
}

.index-wine-list-info {
  text-align: center;
  font-size: 1.2vw
}

.details-Fav-Items {
  background-color: rgb(255, 255, 255);

  display: flex;
  flex-direction: row;
  align-items:center;
  width: 90vw;
  justify-content: space-between;
  padding: 10px;

}

.image-box-detail-fav {
  
  
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}
.whole {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  color: rgb(80, 80, 80);
  
}
.details-Fav-Items-title {
  background-color: rgb(255, 223, 223);
  padding-top: 15px;
  border: rgb(206, 206, 206) 2px solid;
  border-radius: 6px;
 
  
}
.details-image-fav {

 
}
.flex-title {
  display: flex;
  justify-content: space-between;
  padding-right: 20px ;
  padding-left: 20px ;
}
.description {
  width: 60%;
}
.links {
  display: flex;
  flex-direction: column;
 margin-right: 20px;
}
.list-title {

  margin-left: 8vw;
  color: rgb(93, 93, 93);
}