body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.wineList{
  background-color: rgb(255, 179, 179);
  padding: 20px;
  text-align: center;
}
.Row {
  color: rgb(179, 41, 41);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: 'Source Code Pro', monospace;
}
.Box {
  background-color: rgb(255, 255, 255);
  width: 20rem;
  text-align: center;
  height: 20rem;
  margin: 30px;
}
.info {
 
  top: 15rem;
  margin-bottom: 0;
  text-align: center;


}
.Bottle {
  position: relative;
  height: 80%;
}